{% extends 'base.html.twig' %}

{% block title %}Оформление заказа{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h1>{{ title }}</h1>
        <hr>

        {% if cartEmpty %}
            <div class="alert alert-danger" role="alert">
                Добавьте что-нибудь в корзину перед оформлением заказа.
            </div>
        {% else %}
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        {% endif %}

        {% if orderPlaced %}
            <div class="alert alert-success" role="alert">
                Заказ успешно оформлен! Спасибо за покупку.
            </div>
            <script>
                // Перенаправляем на главную страницу через 2 секунды (или любой другой необходимый интервал)
                setTimeout(function () {
                    window.location.href = "{{ path('app_index') }}";
                }, 2000);
            </script>
        {% endif %}
    </div>
{% endblock %}
