{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-6">
                <img src="{{ asset('images/' ~ id ~ '/image.jpg') }}" class="img-fluid" alt="Картинка не найдена">
            </div>
            <div class="col-lg-6">
                <h1 class="mb-4">{{ title }}</h1>
                <hr>

                <p class="lead">{{ description }}</p>
                <h3 class="mb-4">{{ price }} рублей</h3>

                <form action="{{ path('app_shopCartAdd', {'id': id, 'sessionId': sessionId | default('default_value')}) }}" method="post">
                    <button type="submit" class="btn btn-primary">Добавить в корзину</button>
                </form>

                {# Кнопка Удаления из корзины #}
                <form action="{{ path('app_shopCartRemove', {'id': id, 'sessionId': sessionId | default('default_value')}) }}" method="post">
                    <button type="submit" class="btn btn-danger mt-2">Удалить из корзины</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
