{% extends 'base.html.twig' %}
{% block title %}Корзина{% endblock %}
{% block body %}
    <div class="example-wrapper">
        <h1>{{ title }}</h1>
        <hr>

        {% set sum = 0 %}
        {% for item in items %}
            <div class="row">
                <div class="col-md-6">
                    <div class="card mb-12 shadow-sm">
                        <img src="{{ asset('images/' ~ item.shopItem.id ~ '/image.jpg') }}" class="bd-placeholder-img card-img-top" alt="Картинка не найдена">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card mb-12 shadow-sm">
                        <div class="card-body">
                            <h4>{{ item.shopItem.title }}</h4>
                            <p class="card-text">{{ item.shopItem.defcription }}</p>
                            <h5>{{ item.shopItem.price }} руб</h5>
                            <p>Количество: {{ item.count }}</p>
                            {% set sum = sum + item.shopItem.price * item.count %}
                        </div>
                    </div>
                </div>
            </div>
            <hr>
        {% endfor %}

        <h4>Итого: {{ sum }} рублей к оплате</h4>
        <a href="{{ path('app_shopOrder') }}" class="float-right btn btn-success mt-2">Оформить заказ</a>
    </div>
{% endblock %}
